* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

header a {
  text-decoration: none;
  color: black;
}

.marked-text {
  color: rgb(252, 165, 0);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.page-wrapper {
  padding: 2rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.insert-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.insert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 4rem;
  width: 50%;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  text-align: center;
}

.form input {
  padding: 0.3rem 0.6rem;
}

#submit-btn {
  padding: 0.8rem 2rem;
  border: none;
  align-self: center;
  background-color: black;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: rgb(252, 165, 0);
  color: black;
}

.success {
  color: green;
  text-align: center;
  font-size: 0.8rem;
}

.danger {
  color: brown;
  text-align: center;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .insert-card {
    width: 100%;
  }
}
