* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.page-wrapper {
  padding: 2rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  background-image: url("./images/main-heading-image.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

.recipes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

#recipes-wrapper {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-text-wrapper {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
}

.card-heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
