* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

header a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.page-wrapper {
  padding: 2rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.marked-text {
  color: rgb(252, 165, 0);
}

.recipe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

#recipe-wrapper {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: 2rem;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  padding: 3rem 3rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}

.card-text-wrapper h3 {
  color: rgb(252, 165, 0);
}

.card-text-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-heading-title {
  font-size: 3rem;
}

#delete-btn {
  background-color: brown;
  color: white;
  padding: 0.8rem 2rem;
  cursor: pointer;
  align-self: flex-start;
  border: none;
  border-radius: 2rem;
}

.success {
  color: green;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  #recipe-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
